{% extends "base.html" %}

{% block contents %}
    <form method="POST">
    {% csrf_token %}
    <div class="col">
        <label>
            <b>Login:</b><br>
            <input type="text" name="username" class="">
        </label><br>
        <label>
            <b>Password:</b><br>
            <input type="password" name="password" class="align-left">
        </label><br>
        <label>
            <b>Repeat, plz:</b><br>
            <input type="password" name="password2" class="align-left">
        </label><br>
    </div>
    <div class="col">
        <button type="submit"><b>Registration</b></button>
    </div>
    </form>
{% endblock %}